@import "./responsive.scss";

body{
    margin: 0;
    padding: 0;
    font-size: 25px;
    color:rgb(78, 78, 78);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

// *{
// }

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px rgba(151, 151, 151, 0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(151, 151, 151, 0.1);
	background-color: palegoldenrod;
}

.zone_message{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin-top: 15px;
    background-image: url("../imgs/background2.png");

        .zone_message--size{
        width: 80%;

        #message{
            max-height: 75%;
            padding-left: 7%;
            padding-right: 7%;
            position: relative;
            // overflow-x: scroll;
            overflow-y: scroll;
        }

        #message div{
            position: relative;
            margin: 20px 0 5px 0;
        }

        #message div span{
            display: inline-block;
            clear: both;
            width: auto;
            padding: 16px 40px 16px 20px;
            background-color: palegoldenrod;
            border-radius: 10px;
            font-size: 0.9em;
            @media #{$small-up}{
                padding: 13px 37px 13px 19px;
                font-size: 0.75em;
            }
        }
    }
}


.zone_message--size #message div::before {
	position: absolute;
    top: 0;
	width: 0px;
    height: 0px;
    transform: translate(-50%, 0%);
    content: "";
    background-color: transparent;
    border-top: 15px solid palegoldenrod;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.zone_input{
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0%;
    margin-bottom: 3%;
    color:rgb(78, 78, 78);
    text-align: center;

    @media #{$small-up}{
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-bottom: 4%;
    }

    input{
        font-size: 1em;
        width: 70%;
        height: 70%;
        border: 2px solid rgb(41, 41, 41);
        border-radius: 5px;
        &:focus{
            background-color: rgb(241, 231, 213);
        }
        @media #{$small-up}{
            width: 70%;
            height: 100%;
            margin-right: 1.5%;
            border-radius: 20px;
            color: rgb(121, 121, 121);
            border: 2px solid rgb(121, 121, 121);
        }
    }

    button{
        padding: 14px;
        border: 2px solid palegoldenrod;
        background-color: palegoldenrod;
        border-radius: 10px;
        font-size: 1em;
        color: rgb(78, 78, 78);
        @media #{$small-up}{
            border: none;
            background-color: transparent;
            font-size: 0.75em;
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }

    button:hover{
        border: 2px solid rgb(224, 215, 131);
        background-color: rgb(224, 215, 131);
        cursor: pointer;
        @media #{$small-up} {
            border: none;
            background-color: transparent;
        }
    }

    button::after{
        content: "Envoyer";
        width: 25px;
        height: 25px;
        @media #{$small-up}{
            display: inline-block;
            content: "";
            background: url("./../imgs/send.png") no-repeat;
            background-size: 100%;
        }
    }
}



